<p class="w3-panel w3-light-blue w3-round-large">Deployment Architecture – Step 3 of 6</p>
<p>
<i class="w3-badge w3-green">1</i><span class="w3-tiny space w3-round-xxlarge">Environment</span>
<i class="w3-badge w3-green">2</i><span class="w3-tiny space w3-round-xxlarge">Environment</span>
<i class="w3-badge w3-red">3</i><span class="w3-tiny space w3-round-xxlarge">Configure Hosts</span>
<i class="w3-badge w3-gray">4</i><span class="w3-tiny space w3-round-xxlarge">Map Components</span>
<i class="w3-badge w3-gray">5</i><span class="w3-tiny space w3-round-xxlarge">Configure Software</span>
<i class="w3-badge w3-gray">6</i><span class="w3-tiny space w3-round-xxlarge">Summary</span> 
</p>
<p class="w3-panel w3-border-bottom w3-text-gray">Configure Hosts
</p>

          
<form id="envform">
    <div>
  <span class="w3-medium ">Deployment Option:</span>
        <br>
 <select class="w3-round-large w3-small">
  <option value="Big Decisions Small">Big Decisions Small</option>
  <option value="Big Decisions Medium">Big Decisions Medium</option>
  <option value="Big Decisions Large">Big Decisions Large</option> 
</select>
  <button class="w3-blue w3-round-large w3-opacity" style="margin-left:480px">Discover</button>  
        <br>
        <table class="w3-table-all w3-round-xxlarge w3-small">
<tr class="w3-pale-green">
<th>Login Name</th>
<th>HostName/InstanceId</th>
<th>Private IP Address</th>
<th>UserName</th>
<th>Actions</th>
</tr>
<tr class="w3-pale-blue">
<td>Web Server</td>
<td><input class="w3-round-large" type="text"  autofocus />
</td>
<td><input class="w3-round-large" type="text"  autofocus /></td>
<td><input class="w3-round-large" type="text"  autofocus /></td>
<td><input class="w3-round-large" type="text"  autofocus /></td>
</tr>
</table>
        
        <br>
        <br>

    </div>
</form>