<p class="w3-panel w3-light-blue w3-round-large">Deployment Architecture – Step 2 of 6</p>
<p>
<i class="w3-badge w3-green">1</i><span class="w3-tiny space w3-round-xxlarge">Environment</span>
<i class="w3-badge w3-red">2</i><span class="w3-tiny space w3-round-xxlarge">Deployment Plan</span>
<i class="w3-badge w3-gray">3</i><span class="w3-tiny space w3-round-xxlarge">Configure Hosts</span>
<i class="w3-badge w3-gray">4</i><span class="w3-tiny space w3-round-xxlarge">Map Components</span>
<i class="w3-badge w3-gray">5</i><span class="w3-tiny space w3-round-xxlarge">Configure Software</span>
<i class="w3-badge w3-gray">6</i><span class="w3-tiny space w3-round-xxlarge">Summary</span> 
</p>
<p class="w3-panel w3-border-bottom w3-text-gray">Plan your Deployment Topology
</p>

          
<form id="envform">
    <div>
 <span class="w3-medium">1.  Please select the components that you want to deploy</span>
      
        <div style="margin-left: 50px">
    <label class="checkbox-inline">
      <input type="checkbox" value=""><span class="w3-tiny">Data Ingestion Workbench </span>

    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""><span class="w3-tiny">Data Integration Workbench &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>

    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""><span class="w3-tiny">Data Quality Workbench</span>

    </label>
        <br>
 <label class="checkbox-inline">
      <input type="checkbox" value=""><span class="w3-tiny">Data Discovery Workbench</span>


    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""><span class="w3-tiny">Interactive Analytics Workbench </span>


    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""><span class="w3-tiny">Data Bazar </span>


    </label>
        </div>
        <br>
    <span class="w3-medium">2.  Select the target data-stores applicable for your deployment
</span>
      
        <div style="margin-left: 50px">
    <label class="checkbox-inline">
      <input type="checkbox" value=""><span class="w3-tiny">Oracle</span>


    </label>
        <br>
    <label class="checkbox-inline">
      <input type="checkbox" value=""><span class="w3-tiny">Amazon Redshift
 </span>


    </label>
        <br>
    <label class="checkbox-inline">
      <input type="checkbox" value=""><span class="w3-tiny">Hadoop </span>


    </label>
            </div>
        <br>
        <span class="w3-medium">2.  Do you need SmartConnectors?
</span>
       
        <div style="margin-left: 50px">
    <label class="checkbox-inline">
      <input type="checkbox" value=""><span class="w3-tiny">Yes</span>


    </label>
        
    <label class="checkbox-inline">
      <input type="checkbox" value=""><span class="w3-tiny">No
 </span>


    </label>
       
            </div>

    </div>
</form>