<p class="w3-panel w3-light-blue w3-round-large">Deployment Architecture – Step 2 of 5</p>
<p>
    <i class="w3-badge w3-green">1</i><span class="w3-tiny space w3-round-xxlarge">Environment</span>
    <i class="w3-badge w3-red">2</i><span class="w3-tiny space w3-round-xxlarge">Deployment Plan</span>
    <i class="w3-badge w3-gray">3</i><span class="w3-tiny space w3-round-xxlarge">Configure Hosts</span>
    <!--<i class="w3-badge w3-gray">4</i><span class="w3-tiny space w3-round-xxlarge">Map Components</span>-->
    <i class="w3-badge w3-gray">4</i><span class="w3-tiny space w3-round-xxlarge">Configure Software</span>
    <i class="w3-badge w3-gray">5</i><span class="w3-tiny space w3-round-xxlarge">Summary</span>
</p>
<p class="w3-panel w3-border-bottom w3-text-gray">Plan your Deployment Topology
</p>


<form id="envform">
    <div ng-controller="planController">
        <span class="w3-small">1.  Please select the components that you want to deploy</span>

        <div style="margin-left: 50px" ng-repeat="x in mainContent1">
            <label class="checkbox-inline">
      <input type="checkbox" ng-model="checkbox1[$index]" ng-true-value="'{{x}}'" ng-false-value=" "><span class="w3-tiny">{{x}}</span>
    </label>
        </div>


        <br>
        <span class="w3-small">2.  Select the target data-stores applicable for your deployment
</span>

        <div style="margin-left: 50px" ng-repeat="y in mainContent2">
            <label class="checkbox-inline">
      <input type="checkbox" ng-model="checkbox2[$index]" ng-true-value="'{{y}}'" ng-false-value=" "><span class="w3-tiny">{{y}}</span>
    </label>
        </div>
        <br>
        <span class="w3-small">3.  Do you need SmartConnectors?
</span>

        <div style="margin-left: 50px" ng-repeat="y in mainContent3">
            <label class="checkbox-inline">
      <input type="checkbox" ng-model="checkbox3[$index]" ng-true-value="'{{y}}'" ng-false-value=" "><span class="w3-tiny">{{y}}</span>
    </label>
        </div>
        <br>
        <span class="w3-small">4.  Another Question ?
</span>

        <div style="margin-left: 50px" ng-repeat="y in mainContent4">
            <label class="checkbox-inline">
      <input type="checkbox" ng-model="checkbox4[$index]" ng-true-value="'{{y}}'" ng-false-value=" "><span class="w3-tiny">{{y}}</span>
    </label>
        </div>
        <br><br>
        <div class="divider">
            <button class="w3-blue w3-round-large w3-opacity" ng-click="back()">Back</button>
            <button class="w3-blue w3-round-large w3-opacity" ng-click="planTransfer(); continue()">Continue</button>
        </div>
        <br>

    </div>
</form>
